body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  position: relative;
  min-height: calc(100vh - 220px);
  padding-bottom: 220px;
}

.scroll-top {
  position: fixed;
  right: 100px;
  top: 50%
}

.header-nav.active {
  text-decoration: none;
  color: #FF963C;
}

.footer {
  position: absolute;
  background: #414141;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1608);
  width: calc(100%);
  height: 64px;
  bottom: 0px;
  display: flex;
  //padding-left: 160px;
  align-items: center;
  justify-content: center;

  &-item {
    padding: 0px 20px 0px 20px;
    font-family: "Noto Sans JP";
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.032999999821186066px;
    text-align: left;
    color: #ffffff;
  }
}

.header {
  background: #414141;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1608);
  width: 100%;
  height: 64px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 192px;
  position: relative;

  &-logo {
    padding-left: 160px;
  }

  &-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: font-size 0.5s ease;
    color: white;
    text-decoration: none;

    &:hover {
      font-size: 20px;

    }

    &-icon {
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .notification {
      position: absolute;
      top: -3px;
      right: 2px;
      background-color: #EA6C00;;
      color: white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      font-size: 12px;
      font-family: Inter;
    }

    &-text {
      color: inherit;
      font-size: inherit;
      font-weight: 300;
      font-family: "Noto Sans JP";

    }
  }

  &-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;


  }
}

.menu {
  position: absolute;
  top: 45px;
  right: 165px;
  width: 270px;
  z-index: 2;

  &-item {
    height: 72px;
    width: 100%;
    background-color: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: 1px;
    border-bottom: 1px solid #414141;
    opacity: 0;
    transform: translateY(3px);
    text-decoration: none;
    color: #ffffff;
    //transition: opacity 2s ease, transform 2s ease;
  }

  .show {
    opacity: 1;
    transform: translateY(0);
  }
}

.memo {
  width: 100vw;


  &-action {
    margin: 56px 160px 0px 160px;
    width: calc(100% - 190px);
    height: 288px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;

    &-item {
      width: 288px;
      border: 24px solid #FFCC21;
      background: #2E2E2E;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        width: 100%;
        height: 100%;
        background-size: cover;
        top: 24px;
        left: 19.99px;
        opacity: 0.25;
        filter: grayscale(100%);
      }

      &-info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-text {
          width: 180px;
          font-family: Inter;
          font-size: 25px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.125px;
          text-align: center;
          color: #FFCC21;

        }

        &-btn {
          background: #FF963C;
          width: 160px;
          height: 24px;
          color: #ffffff;
          text-align: center;
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          font-family: "Noto Sans JP";
          cursor: pointer;
          margin-top: 8px;
        }
      }
    }
  }
}

.chart {
  width: calc(100% - 320px);
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 156px;

  &-title {
    height: 60px;
    width: 100%;
    background-color: #414141;
    display: flex;
    flex-direction: row;

    &-text {
      display: grid;
      padding: 16px 0px 0px 24px;
      width: 96px;

      & > span {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        color: white;
      }
    }

    &-date {
      font-family: Inter;
      font-size: 22px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0.10999999940395355px;
      text-align: left;
      color: white;
      padding-top: 16px;
    }
  }

  &-bottom {
    height: 60px;
    width: calc(100% - 32px);
    background-color: #414141;
    display: flex;
    flex-direction: row;
    padding-left: 32px;

    &-btn {
      width: 56px;
      height: 24px;
      margin-right: 16px;
      background-color: #ffffff;
      font-family: "Noto Sans JP";
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0.07500000298023224px;
      text-align: center;
      color: #FFCC21;
      border-radius: 12px;
      cursor: pointer;

      &:hover {
        font-size: 18px;
      }

      &-active {
        color: #ffffff;
        background-color: #FFCC21;

        &:hover {
          font-size: 15px;
          cursor: default;
        }
      }
    }
  }

  &-content {

    & > canvas {
      background-color: #414141;
    }
  }

}

.exe {
  width: calc(100% - 320px);
  padding-left: 160px;
  padding-right: 160px;
  margin-top: 156px;

  &-content {
    height: 264px;
    background-color: #414141;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //overflow-y: scroll;

    &-item {
      height: 42px;
      border-left: 24px solid #414141;
      border-right: 24px solid #414141;
      background-color: #414141;
      display: grid;
      grid-template-columns: 3fr 1fr;

      &-left {
        border-bottom: 2px solid #777777;
        display: grid;

        &-text {
          font-family: "Noto Sans JP";
          font-size: 15px;
          font-weight: 300;
          line-height: 22px;
          letter-spacing: 0.07500000298023224px;
          text-align: left;

          color: white;
        }

        &-cal {
          height: 18px;
          font-family: Inter;
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0.07500000298023224px;
          text-align: left;
          color: #FFCC21;
        }
      }

      &-time {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.09000000357627869px;
        text-align: right;
        color: #FFCC21;
        border-bottom: 2px solid #777777;
      }
    }
  }
}

.scrollbar-container {

  background-color: #414141;
}

.custom-scrollbar .ps__rail-y {
  background-color: #ffffff;
}

.custom-scrollbar .ps__thumb-y {
  background-color: #FFCC21;
}

.diary {
  width: calc(100% - 304px);
  padding-left: 160px;
  padding-right: 144px;
  margin-top: 156px;

  &-title {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.10999999940395355px;
    text-align: left;
    color: #414141;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 16px;

    &-item {
      min-height: 200px;
      margin: 0px 20px 20px 0px;
      border: 1px solid black;

      &-time {
        padding: 16px 0px 0px 16px;
        width: 147px;
        height: 48px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.09000000357627869px;
        text-align: left;
        color: #414141;
        display: grid;
      }

      &-content {
        padding: 16px;
        font-family: "Noto Sans JP";
        font-size: 12px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0.05999999865889549px;
        text-align: left;

      }
    }
  }
}

.add-daily {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  &-btn {
    width: 296px;
    height: 56px;
    font-family: "Noto Sans JP";
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);

    &:hover {
      font-size: 20px;
    }
  }
}


.dashboard {
  width: 100%;

  .circle {
    position: fixed;
  }

  &-overview {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #414141;

    &-percent {
      width: 33.3%;
      position: relative;

      .circle {
        position: absolute;
        top: calc(50% - 90px);
        left: calc(50% - 90px);
        width: 181px;
        height: 181px;
        border: 2px solid #ffffff;
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-date {
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: center;
          color: white;
          text-shadow: 0px 0px 6px #FCA500;

        }

        &-percent {
          font-family: Inter;
          font-size: 25px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0px;
          text-align: center;
          color: #ffffff;
          text-shadow: 0px 0px 6px #FCA500;

        }
      }

      & > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        //position: absolute;
        top: 0;
        left: 0;
      }

    }

    &-chart {
      padding-top: 30px;
      width: 66.6%;
      max-height: 17vw;
      display: flex;
      justify-content: center;
    }
  }
}

.filters {
  margin: 40px 200px 0px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &-btn {
      width: 116px;
      height: 134px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
      cursor: pointer;

      & > img {
        width: 56px;
        height: 56px;
      }

      &-type {
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
        color: white;
      }
    }
  }
}

.plan {
  width: calc(100% - 315px);
  margin-top: 30px;
  padding-left: 160px;
  padding-right: 155px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &-item {
    height: 241.53px;
    margin: 10px;
    display: flex;
    justify-content: center;

    & > span {
      position: relative;

      & > img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }


    &-text {
      position: absolute;
      bottom: 7px;
      left: 0;
      width: 120px;
      height: 32px;
      background-color: #FFCC21;
      display: flex;
      justify-content: center;
      align-items: center;

      & > span {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        color: #ffffff;
      }
    }
  }
}


